@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body {
    background-color:rgba(31, 31, 177, 0.87);
    background-image: url(bursts.svg);
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: 44% 7%;


}
nav {
    display:flex;
    background-color: black;
    height:80px;
    width:100%;
    align-items:center;
    justify-content: space-around;
    padding-left:5%;
    padding-right:5%

}

.navlinks a {
    text-decoration:none;
    font-weight:600;
    padding: .5rem 1.5rem;
    font-size:.95rem;

}

.line {
    display:inline-block;
    width:1px;
    height:1rem;
    background-color: white;
}

svg {
    width:140px;
    fill:white
}

.container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    padding-left:15%;
    height:100vh
}

p {
    font-size:120px;
    line-height: 166px;
    font-weight:900;
    font-family: 'Montserrat',sans-serif;
    text-indent: -2.1em;
}

button {
    background-color: rgb(30,215,96);
    border-radius: 50px;
    border:none;
    padding:20px;
    margin:20px;
    margin-right:17%;
    width:10%;
    color:darkblue;
    font-size:12px;
    font-weight:bolder;
      
}

li {
    list-style: none;
    
}

li,a,i,h3{
    color:white;
    text-decoration: none;
}

i:hover {
    cursor:pointer
}

h3 {
    opacity: 0.4;
    margin-bottom: 0.4em;
}

p,h2,a:hover,i:hover {
    color:rgb(30,215,96)
}

h2 {
    text-indent:-15em;
    font-size: 18px;
    line-height: 24px;
    margin:50px

}

footer {
    display:flex;
    justify-content:space-around;
    background-color: black;;
    padding:80px 20% 50px;
    position:relative;
}

#bottom {
    display:flex;
    position:absolute;
    bottom:0;
    margin: 0.4;
    opacity: 0.4;
    font-size: small;

    
}


    
    
    
    

















   




